.hbuttonWarning:hover {
    background-color: #ffe601;
    color: black;
  }
.hbuttonDanger:hover {
  background-color: #f10808;
  color: white;
}
.hbuttonPrimary:hover {
  background-color: #0463f1;
  color: white;
}
.hbuttonDark:hover {
  background-color: #000000;
  color: white;
}

#dropdowncolor1:hover{background-color: #ffe601; color: black;}
#dropdowncolor2:hover{background-color: #f10808; color: white;}
#dropdowncolor3:hover{background-color: #0463f1; color: white;}
#dropdowncolor4:hover{background-color: #000000; color: white;}

#blocktext{
  background-color:rgba(97, 97, 97, 0.452);
  margin-bottom: 10%;
}


.parallax-window {
  min-height: 400px;
  background: transparent;
}

.nav-transition-color{
  transition: all 0.5s ease;
}

#bloque121 {
  background-image: url("../imagenes/tw2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}
.swiper-container {
  width: 600px;
  height: 300px;
}
body {
  margin: 0;
  padding: 0;
}
.swiper-container1 {
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
}
.swiper-modpablo {
background-position: center;
background-size: cover;
width: 300px;
height: 400px;
}